<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>userIconName</key>
		<real>531062663.31826699</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>userIconName</key>
		<dict>
			<key>a45350a043058963fd1fbfc96deeb616357bd12e44421802a4742ff3b91dae7d</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
